div.shadow {
    width: 250px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
}
div.heading{
    padding: 10px;
}
.flexbox{
    display: flex;
    background-color: #06283d;
    width: 750px;
}
.flexbox>div{
    background-color: #f1f1f1;
    margin: 10px;
    padding:20px;
    font-size: 30px;
}
img.trans {
    transition: width 2s, height 2s, transform 2s;
}
img.trans:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}
div.anima {
    width: 100px;
    height: 100px;
    background-color:skyblue;
    position: relative;
    animation-name: anima1;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: normal;
}
@keyframes anima1 {
  0%   {background-color:skyblue; left:0px; top:0px;}
  25%  {background-color:green; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:brown; left:0px; top:200px;}
  100% {background-color:skyblue; left:0px; top:0px;}
}
div.grad{ 
    height: 250px;
    width:650px; 
    background-image: linear-gradient(to right, rgb(208, 255, 0),rgb(189, 195, 48),rgb(0, 212, 255));
}
div.main1{
    background: linear-gradient(90deg,#00ffeb 0%,#073abb 100%);
}
div.main2{
    display:flex;
    justify-content: center;
}
.image:hover{
    width:200px;
    height:200px;
    transform: rotate(2deg);
}
