.main{
    position: relative;
    width: 1400px;
    height: 650px;
    border: 1px solid black;
    background-color:#eee3cb;
}
.p1{
    font-family: "Sofia", sans-serif;
    text-align:center;
    font-size:28px;
}
.p2{
    font-family: "Sofia", sans-serif;
    margin-left:250px;
    font-size:28px;
}
.img2 {
    float: right;
    width:320px;
    height:350px;
    border-radius:20px;
    margin-left: 20px;
    background-color: #182747;
}
.clearfix::after{
    content:"";
    clear:both;
    display:table;
}
.p4{
    text-align:justify;
    color:black;
    font-family: "Sofia", sans-serif;
    word-spacing: 10px;
    font-style: italic;
    font-size:x-large;
}
